body{
    font-family: 'Arial', sans-serif;
    margin: 20;
    padding: 20;
    background: #181818;
    color: #ffffff;
}


h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 5em;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 
        0 0 7px rgb(255, 255, 255),
        0 0 10px rgb(255, 0, 242),
        0 0 21px rgb(255, 17, 243),
        0 0 42px rgb(255, 35, 255),
        0 0 82px rgb(255, 72, 240),
        0 0 92px rgb(255, 117, 255),
        0 0 102px rgb(255, 168, 255),
        0 0 151px rgb(255, 206, 249);
    
    /* Efeito de brilho adicional */
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.6));
    
}

p {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}